.absolute {
  list-style-type: none;
  margin: 17px;
  padding: 23px;
  overflow: hidden;
  background-color: #0e5342;
}

/* Change the link color on hover */
li a:hover {
  background-color: #e29843;
}
