.absolute {
  list-style-type: none;
  margin: 17px;
  padding: 23px;
  overflow: hidden;
  background-color: #258578;
}
ul {
  justify-content:flex-end;
  list-style-type: none;
  margin: 17px;
  padding: 23px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f5d57d;
}
.footer {
  color: rgb(40, 63, 45);
  text-align: center;
  padding: 14px 16px;
}