:root {
    --darkgreen: #157F1F;
    --lightgreen: #4CB963;
    --lightblue: #A0EADE;
    --greyblue: #0081AF;
    --darkblue: #201E50;
}

body {
    background-color: var(--lightblue);
}

.nav {
    background-color: var(--darkblue);
    color: white;
    display: flex;
    flex-direction: row;
}

.navElement {
    color: white;
    display: flex;
    padding: 10px;
}

.header {
    background-color: var(--greyblue);
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.navElement:hover, .contactElement:hover {
    color: var(--lightgreen);
}

.job, .school , .contact {
    background-color: var(--darkblue);
    color:white;
    display: flex;
    justify-content: left;
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    width: 1200px;
}

.contact {
    flex-direction: column;
    padding: 10px;
    width: 400px;
    border-radius: 0px;
}

.jobDescription {
    font-size: 20px;
}

.job:hover, .school:hover, .skill:hover {
    box-shadow: 0px 0px 10px 5px var(--lightblue);
}

.education, .history, .volunteer, .skills{
    background-color: var(--greyblue);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.skill {
    background-color: var(--darkblue);
    color:white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
}